
.left-articles, .mid-articles, .right-articles {
    opacity: 0.8;
    height:100vh;
}

p {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.2em;
    font-weight:300;
}

.article-url:hover {
    text-decoration: underline #1D3557;
    
}

.article-url h4 {
    color: #4b88aa;
}