.banner {
    position: relative;
    margin: 24px 0;
    padding: 20px 30px 20px 115px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    background: #F1FAEE;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

.btn {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 300;
}